<!doctype html>
<html>
<head>
    <title>博客注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="css/login.css" rel='stylesheet' type='text/css' media="all"/>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/regist.js" type="text/javascript"></script>
</head>
<body>
<div id="msg" style="display: none;"></div>
<div class="log">
    <div class="content2">
        <h2>Sign Up</h2>
        <span onclick="window.location.href='http://localhost:8080/login'" onmousemove="this.style='color: green'"
              onmouseleave="this.style='color: white'">Sign In</span>
        <input id="loginaccount" type="text" name="userid" value="ACCOUNT" onfocus="this.value = '';"
               onblur="if (this.value == '') {this.value = 'ACCOUNT';}">
        <input id="username" type="tel" name="usrtel" value="NAME" onfocus="this.value = '';"
        onblur="if (this.value == '') {this.value = 'NAME';}">
        <input id="loginpassword1" type="password" name="password" value="PASSWORD" onfocus="this.value = '';"
               onblur="if (this.value == '') {this.value = 'PASSWORD';}">
        <input id="loginpassword2" type="password" name="password" value="PASSWORD" onfocus="this.value = '';"
               onblur="if (this.value == '') {this.value = 'PASSWORD';}">
        <input id="submit" type="submit" onclick="regist()" class="register" value="Register">
        <pre id="aa" style="color: #E2523A;background-color: rgba(255,255,255,0.1);font-size: 20px;"></pre>
    </div>
    <div class="clear"></div>
</div>
<div class="footer">
    <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">blog</a>
    </p>
</div>

</body>
</html>