<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ning.blog.repository.TipsMapper">

    <select id="getTipsByUserId" resultType="Tips">
        SELECT * FROM zn_tips WHERE userId = #{userId};
    </select>

    <select id="getTipsById" resultType="Tips">
        select * from zn_tips where id = #{id}
    </select>

    <insert id="insertTips" parameterType="Tips" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `zn_tips` (
        `userId`,
        `createTime`,
        `updateTime`,
        `content`,
        `blogimgs`,
        `weight`,
        `title`,
        `likeNum`,
        `dislikeNum`
        )
        VALUES
        (
        #{userId},
        #{createTime},
        #{updateTime},
        #{content},
        #{blogimgs},
        #{weight},
        #{title},
        #{likeNum},
        #{dislikeNum}
        );
    </insert>

    <update id="updateTips" parameterType="Tips">
        UPDATE zn_tips
        <trim prefix=" SET " suffixOverrides=" , ">
            <if test="userId != null and userId != ''">
                userId = #{userId} ,
            </if>
            <if test="createTime != null">
                createTime = #{createTime} ,
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime} ,
            </if>
            <if test="content != null and content != ''">
                content = #{content} ,
            </if>
            <if test="blogimgs != null and blogimgs != ''">
                blogimgs = #{blogimgs} ,
            </if>
            <if test="weight != null and weight != ''">
                weight = #{weight} ,
            </if>
            <if test="title != null and title != ''">
                title = #{title} ,
            </if>
            <if test="likeNum != null and likeNum != ''">
                likeNum = #{likeNum} ,
            </if>
            <if test="dislikeNum != null and dislikeNum != ''">
                dislikeNum = #{dislikeNum} ,
            </if>
        </trim>
        WHERE id = #{id};
    </update>

    <delete id="deleteTips">
        DELETE FROM zn_tips WHERE id = #{id}
    </delete>

</mapper>