<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ning.blog.repository.UserMapper">

    <select id="listUser" resultType="User">
		select * from zn_user;
	</select>
    <select id="getUserById" resultType="User">
		select * from zn_user where id = #{id}
	</select>

    <insert id="insertUser" parameterType="User">
		INSERT INTO zn_user (
			`userName`,
			`loginName`,
			`password`,
			`createTime`,
			`updateTime`,
			`birthday`,
			`salt`,
			`weight`
		)
		VALUES
			(
			#{userName},
			#{loginName},
			#{password},
			#{createTime},
			#{updateTime},
			#{birthday},
			#{salt},
			#{weight}
			);
	</insert>

	<update id="updateUser" parameterType="User">
		UPDATE zn_user
		<trim prefix="set" suffixOverrides="AND">
			<if test="userName != null and userName != ''">
				userName = #{userName} AND
			</if>
			<if test="loginName != null and loginName != ''">
				loginName = #{loginName} AND
			</if>
			<if test="password != null and password != ''">
				password = #{password} AND
			</if>
			<if test="createTime != null">
				createTime = #{createTime} AND
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime} AND
			</if>
			<if test="birthday != null">
				birthday = #{birthday} AND
			</if>
			<if test="salt != null and salt != ''">
				salt = #{salt} AND
			</if>
			<if test="weight != null">
				weight = #{weight} AND
			</if>
		</trim>
		WHERE id = #{id}
	</update>

</mapper>