<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ning.blog.repository.UserMapper">

    <select id="listUser" resultType="UserDO">
      select * from blog_user;
    </select>

</mapper>